// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Toastr
@import '~toastr/toastr';
html, body{
  background-color: #24292E;
}
// Start customer creation
.selectionWrapper {
  display: inline-flex;
  background: #fff;
  height: 100px;
  /* width: 400px; */
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
}

.selectionWrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.selectionWrapper .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}

.selectionWrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

#priCus:checked:checked~.priCus,
#smeCus:checked:checked~.smeCus {
  border-color: #0069d9;
  background: #0069d9;
}

#priCus:checked:checked~.priCus .dot,
#smeCus:checked:checked~.smeCus .dot {
  background: #fff;
}

#priCus:checked:checked~.priCus .dot::before,
#smeCus:checked:checked~.smeCus .dot::before {
  opacity: 1;
  transform: scale(1);
}

.selectionWrapper .option span {
  font-size: 20px;
  color: #808080;
}

#priCus:checked:checked~.priCus span,
#smeCus:checked:checked~.smeCus span {
  color: #fff;
}